<mat-card class="added-product">
  <div class="item-image">
    <img [src]="addedProduct.thumbnail" alt="" />
  </div>
  <div class="item-name">{{addedProduct.title}}</div>
  <div class="item-qty">
    <mat-icon>add</mat-icon>
      <span>1</span>
      <mat-icon>remove</mat-icon>
    <div class="quantity-increment">
      
    </div>
  </div>
  <div class="item-price">{{ addedProduct.price | currency: "USD" }}</div>
  <div class="close">
    <button
      mat-icon-button
      color="primary"
      aria-label="Example icon button with a home icon"
    >
      <mat-icon>close</mat-icon>
    </button>
  </div>
</mat-card>
