<div class="product-container">
  <div class="description">
    <hr class="hr" />
    <div class="detail-wrapper">
      <p>title</p>
      <p>{{ data.title }}</p>
    </div>
    <hr class="hr" />
    <div class="detail-wrapper">
      <p>brand</p>
      <p>{{ data.brand }}</p>
    </div>
    <hr class="hr" />
    <div class="detail-wrapper">
      <p>price</p>
      <p>{{ data.price | currency: 'USD' }}</p>
    </div>
    <hr class="hr" />
    <div class="detail-wrapper">
      <p>description</p>
      <p>{{ data.description }}</p>
    </div>
    <hr class="hr" />
    <div class="detail-wrapper">
      <p>Discount Percentage</p>
      <p>{{ data.discountPercentage }}</p>
    </div>
    <hr class="hr" />
    <div class="detail-wrapper">
      <p>rating</p>
      <p>{{ data.rating }}</p>
    </div>
    <hr class="hr" />

    <div class="detail-wrapper">
      <p>stock</p>
      <p>{{ data.stock }}</p>
    </div>

    <hr class="hr" />
  </div>
  <div class="image-wrapper">
    <img src="https://picsum.photos/300/200.jpg" class="fit-image" alt="" />
  </div>
</div>
